@import '../../styles/common.scss';

.NewNote {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  width: 100%;

  &--transparent {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.2);
  }

  &--moderate-pink {
    background: rgb(242, 139, 130);
    border-color: rgb(242, 139, 130);
  }

  &--choice-yellow {
    background: rgb(251, 188, 4);
    border-color: rgb(251, 188, 4);
  }

  &--unripe-yellow {
    background: rgb(255, 244, 117);
    border-color: rgb(255, 244, 117);
  }

  &--light-green {
    background: rgb(204, 255, 144);
    border-color: rgb(204, 255, 144);
  }

  &--pang {
    background: rgb(167, 255, 235);
    border-color: rgb(167, 255, 235);
  }

  &--snow-blue {
    background: rgb(203, 240, 248);
    border-color: rgb(203, 240, 248);
  }

  &--blue-frost {
    background: rgb(174, 203, 250);
    border-color: rgb(174, 203, 250);
  }

  &--bright-lilac {
    background: rgb(215, 174, 251);
    border-color: rgb(215, 174, 251);
  }

  &--pink-pig {
    background: rgb(253, 207, 232);
    border-color: rgb(253, 207, 232);
  }

  &--zinnwaldite {
    background: rgb(230, 201, 168);
    border-color: rgb(230, 201, 168);
  }

  &--pale-gray {
    background: rgb(232, 234, 237);
    border-color: rgb(232, 234, 237);
  }

  &__form {
    height: 100%;
    overflow: auto;
    padding: 15px 15px 5px 15px;
    width: 100%;

    &::-webkit-scrollbar {
      background-color: rgba(0, 0, 0, 0);
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }

    & textarea {
      background-color: rgba(0, 0, 0, 0);
      display: block;
      outline: none;
      overflow: hidden;
      resize: none;
      width: 100%;

      &:disabled {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &__title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 15px;

    &:focus {
      outline: none;
    }
  }

  &__body {
    font-size: 20px;
    line-height: 24px;
  }

  &__date {
    color: rgb(128, 134, 139);
    font-size: 15px;
    text-align: center;
  }

  &__footer {
    display: block;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 4px 0;
  }
}
