.NewNote {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &__wrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(32, 33, 36);
    width: 650px;
  }

  &__shield {
    border-radius: 10px;
    height: 100%;
    position: relative;
    width: 100%;
  }

  &__form-wrapper {
    padding: 15px 15px 0 15px;
  }

  &__form {
    max-height: 70vh;
    // min-height: 300px;
    overflow: auto;

    &::-webkit-scrollbar {
      background-color: rgba(0, 0, 0, 0);
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }

    & textarea {
      background-color: rgba(0, 0, 0, 0);
      display: block;
      outline: none;
      overflow: hidden;
      resize: none;
      width: 100%;

      &:disabled {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &__title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 15px;

    &:focus {
      outline: none;
    }
  }

  &__body {
    font-size: 20px;
    line-height: 24px;
  }

  &__date {
    color: rgb(128, 134, 139);
    font-size: 15px;
    text-align: center;
  }

  &__footer {
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 4px 0;
  }
}
