.Toolbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 10px;
  width: 100%;

  & li {
    border-radius: 5px;
    margin-left: 10px;
  }
}
