.СolorPalette {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__circle {
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: flex;
    height: 37px;
    justify-content: center;
    margin-left: 10px;
    width: 37px;

    &--transparent {
      background: transparent;
      border-color: rgba(0, 0, 0, 0.2);
    }

    &--moderate-pink {
      background: rgb(242, 139, 130);
      border-color: rgb(242, 139, 130);
    }

    &--choice-yellow {
      background: rgb(251, 188, 4);
      border-color: rgb(251, 188, 4);
    }

    &--unripe-yellow {
      background: rgb(255, 244, 117);
      border-color: rgb(255, 244, 117);
    }

    &--light-green {
      background: rgb(204, 255, 144);
      border-color: rgb(204, 255, 144);
    }

    &--pang {
      background: rgb(167, 255, 235);
      border-color: rgb(167, 255, 235);
    }

    &--snow-blue {
      background: rgb(203, 240, 248);
      border-color: rgb(203, 240, 248);
    }

    &--blue-frost {
      background: rgb(174, 203, 250);
      border-color: rgb(174, 203, 250);
    }

    &--bright-lilac {
      background: rgb(215, 174, 251);
      border-color: rgb(215, 174, 251);
    }

    &--pink-pig {
      background: rgb(253, 207, 232);
      border-color: rgb(253, 207, 232);
    }

    &--zinnwaldite {
      background: rgb(230, 201, 168);
      border-color: rgb(230, 201, 168);
    }

    &--pale-gray {
      background: rgb(232, 234, 237);
      border-color: rgb(232, 234, 237);
    }

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
  }
}
