.Note {
  color: rgb(32, 33, 36);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;

  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  }

  &--high {
    grid-row: span 2;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

  &__body {
    font-size: 20px;
    white-space: pre-wrap;
  }

  &__message {
    color: rgb(128, 134, 139);
    font-size: 30px;
  }
}
