.NoteList {
  display: grid;
  grid-auto-rows: 150px;
  grid-gap: 15px;
  margin: 0 auto;
  padding: 0 60px;

  @media (max-width: 735px) {
    padding: 0 30px;
  }

  @media (max-width: 470px) {
    padding: 0 15px;
  }

  &--inList {
    grid-template-columns: 1fr;
    max-width: 900px;
  }

  &--inTable {
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1680px;

    @media (max-width: 1680px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 1365px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 1050px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 735px) {
      grid-template-columns: 1fr;
    }
  }
}
