.SortSelector {
  height: 35px;
  position: relative;
  width: 35px;

  &__space {
    background-color: rgba(0, 0, 0, 0);
    height: 10px;
    left: 0;
    position: absolute;
    right: 0;
    top: 35px;
  }

  &__menu {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    left: 17.5px;
    position: absolute;
    top: 45px;
    transform: translateX(-50%);

    & button {
      border-radius: 0;
      font-size: 15px;
      padding: 0 5px;
      width: 100%;
    }
  }
}
