.SearchForm {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  flex: 0 0 750px;
  height: 48px;

  &--focus {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  }

  &__input {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex: 1 0;
    font-size: 20px;
    outline: none;
  }

  &__bt-wrapper {
    align-items: center;
    display: flex;
    flex: 0 0 60px;
    justify-content: center;
  }
}
