.App {
  &__header {
    align-items: center;
    border-bottom: 2px solid rgb(230, 230, 230);
    display: flex;
    height: 64px;
    justify-content: center;
  }

  &__bt-addNote-wrapper {
    background-color: rgba(0, 0, 0, 0.05);
    bottom: 100px;
    border-radius: 5px;
    height: 45px;
    position: fixed;
    right: 100px;
    width: 45px;
  }
}
